<div class="container">
    <!-- <div class="starter-template">
        <h1>Bootstrap starter template</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
    </div> -->

    <div class="row">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active" routerLink="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/posts">Posts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/databinding">Data Binding</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/directives">Built-in Directives</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/services">Using Services</a>
            </li>
        </ul>
    </div>
</div>